.btn {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  
  &.btn-transparent {
	color: var(--FONT-color);
	border: none;
	background: transparent;
	
	&:hover {
	  color: var(--COMPANY-theme-color);
	}
  }
  
  &.btn-round {
	width: 4rem;
	height: 4rem;
	transition: all 200ms ease-out;
	@include flexCentered;
	border: none;
	border-radius: 50%;
	outline: 3px solid $black-1;
	
	&:hover {
	  outline: 1px solid $black-1;
	}
  }
  
  &.btn-black {
	color: $white-1;
	background-color: $black-1;
  }
}

.align-right {
  align-self: flex-end;
  margin-right: 2.4rem;
}

.form-btn {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  height: 3.2rem;
  margin-top: 1.6rem;
  padding: 0.6rem 1.6rem;
  
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: $white-1;
  border: none;
  border-radius: 16px;
  background-color: var(--COMPANY-theme-color);
  
  &:hover {
	color: var(--FONT-color);
	outline: 1px solid var(--FONT-color);
	background-color: var(--BG-color);
  }
}
