.icon {
  font-size: 2rem;
  padding-bottom: -2px;
  
  &.icon-disabled {
	cursor: initial;
	color: var(--ICONS-disabled);
  }
  
  &-btn {
	font-size: 2rem;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	
	&:hover {
	  color: var(--COMPANY-theme-color);
	}
	
	&--invert {
	  color: var(--SUB-CONTRAST-FONT-color);
	  
	  &.icon-bigger {
		font-size: 3rem;
	  }
	}
	
	&--font {
	  color: var(--FONT-color);
	  
	  &.icon-bigger {
		font-size: 2.8rem;
	  }
	}
  }
}
