.btn {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: $white-1;
  border: 1px solid $white-1;
  border-radius: 5px;
  background-color: $black-1;
  
  &--large {
	font-size: 1.8rem;
	padding: 1.6rem 2.4rem;
	
	&.btn-round {
	  @include flexCentered;
	  font-size: 3.2rem;
	  width: 4.8rem;
	  height: 4.8rem;
	  padding: 1rem;
	  transition: border 200ms ease;
	  border: 1px solid var(--BORDER-btn-color);
	  border-radius: 50%;
	  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.26);
	  
	  &:hover {
		transform: scale(1);
		border: 2px solid var(--BORDER-btn-hover-color);
	  }
	}
  }
  
  &--medium {
	font-size: 1.6rem;
	padding: 1.2rem 1.6rem;
  }
  
  &--small {
	font-size: 1.4rem;
	padding: 1.1rem 1.6rem;
  }
  
  &:hover {
	transform: scale(0.9);
  }
  
  &--unstyled {
	background: transparent;
	
	&:hover {
	  box-shadow: none;
	}
  }
}
