.nav-bar-5 {
  position: relative;
  z-index: 120;
  display: inline-block;
  width: 2.4rem;
  height: 2rem;
  margin-right: 8px;
  cursor: pointer;
}

.nav-bar-5 span {
  position: absolute;
  width: 100%;
  height: 3px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transition-duration: 500ms;
  border-radius: 24px;
  background-color: var(--FONT-color);
}

.nav-bar-5 span:nth-child(1) {
  top: 0;
  left: 0;
}

.nav-bar-5 span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.nav-bar-5 span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.nav-bar-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.nav-bar-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.nav-bar-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.nav-bar-5.open span:nth-child(1) {
  top: 13px;
  transform: rotate(45deg);
}

.nav-bar-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-bar-5.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
}
