.white {
  color: $white-1 !important;
}

.black {
  color: $black-1 !important;
}

.company-theme-color {
  color: var(--COMPANY-theme-color) !important;
}


.font-color {
  color: var(--FONT-color) !important;
}
