.emp-card {
  &__BGfixed {
	position: relative;
	border-radius: 8px;
	background-color: var(--CARD-BG);
	
	&:hover {
	  box-shadow: inset 2px 10px 20px 0 rgba(0, 0, 0, 0.12), inset 2px 4px 20px 0 rgba(0, 0, 0, 0.22);
	}
  }
  
  &__container {
	position: relative;
	width: 100%;
	@include flexColumn;
	height: 100%;
	padding: 1.6rem 1.8rem;
	cursor: pointer;
	transition: all 200ms ease-out;
	border-radius: 8px;
	background-color: var(--CARD-color);
	box-shadow: 0 0 8px 4px var(--CARD-shadow);
	gap: 4rem;
	transform-style: preserve-3d;
	
	&:hover {
	  transform: scale(0.95) rotateZ(-4deg) rotateX(10deg) rotateY(6deg);
	  box-shadow: 4px -2px 0 0 var(--BG-color), 6px -4px 10px 0px rgba(0, 0, 0, 0.32);
	}
	
	@include mobile {
	  padding-bottom: 3.2rem;
	}
  }
  
  &__top-container {
	@include flexRowInline;
	justify-content: space-between;
	
	> p {
	  font-size: 1.4rem;
	  
	  > span {
		font-weight: bold;
	  }
	}
	
  }
  
  &__heading-container {
	@include flexColumn;
	justify-content: space-around;
	align-items: center;
	gap: 0.8rem;
	
	> h1 {
	  font-size: 1.6rem;
	  font-weight: bold;
	}
	
	> h2 {
	  font-family: Lato, sans-serif;
	  font-size: 1.6rem;
	  font-weight: 400;
	  color: var(--COMPANY-theme-color);
	}
	
	> p {
	  font-size: 1.4rem;
	  font-weight: 400;
	}
	
  }
  
  &__infos {
	padding: 1.2rem 2rem;
	border-radius: 8px;
	background-color: var(--INFOS-card-container);
	
	> p {
	  font-size: 1.4rem;
	}
  }
  
  &__address {
	margin-top: 1.6rem;
	@include flexRowInline;
	gap: 1.6rem;
	
	> div {
	  > p {
		font-size: 1.2rem;
	  }
	}
  }
}

