html {
  font-family: Roboto, Lato, Arial, sans-serif;
  font-size: 62.5%;
  color: var(--FONT-color);
  background-color: var(--BG-color);
  scrollbar-width: none;
  
}

body {
  width: 100vw;
  height: 100vh;
}

p {
  font-family: Lato, Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

#root {
  @include flexColumn;
  height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

a {
  font-family: Lato, Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}


.form-error {
  font-size: 1.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
  text-align: right;
  color: #8D3030;
  
  &--false {
	height: 1.2rem;
  }
}




