html {
  font-family: Roboto, Lato, Arial, sans-serif;
  font-size: 62.5%;
  color: $black-1; // ⚠️
}

body {
  height: 100vh;
}

p {
  font-family: Lato, Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

a {
  font-family: Lato, Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
