// main Colors
$black-1: #262627;
$black-2: #363636; // Dark mode Cards and frame
$black-3: #1F1F1F; // Dark mode lateral-menu footer
$white-1: #FFFEFC;
$grey-1: #F5F6F7; //frame
$grey-2: #A4A4A4; //secondary font


// themes
// Company themes
$blue-twitter: #47ACDF;
$orange-amazon: #FFAE33;
$purple-OC: #6245EC;
