// main Colors
:root {
  --BG-color: #FFFEFC;
  --BG-invert-color: #262627;
  --FONT-color: #262627;
  --SUB-FONT-color: #A4A4A4;
  --MENU-color: #F5F6F7;
  --TOOLBAR-color: #F5F6F7;
  --CARD-color: #FFFEFC;
  --FOOTER-color: #262627;
  --PAGINATION-left-color: #5F6368;
  --ACTIVE-FONT-color: #262627;
  --SUB-CONTRAST-FONT-color: #FFFEFC;
  --COMPANY-theme-color: #5F6368;
  --MENU-SEPARATOR-color: #FFFEFC;
  --INPUT-default-border-color: #A4A4A4;
  --LOGO: url('/src/assets/logoHrnetB.svg');
  --BORDER-btn-color: #FFFEFC;
  --FONT-btn-color: #262627;
  --BORDER-btn-hover-color: #FFFEFC;
  --ICONS-disabled: #CECECE;
  --INFOS-card-container: #F5F6F7;
  --CARD-shadow: rgba(51, 50, 50, 0.18);
  --CARD-BG: #F5F6F7;
  --BTN-BG-Gradient: linear-gradient(180deg, #FFFEFC, #EEEEEF);
  --404-BG: url("/src/assets/sun-1.jpg") no-repeat center center fixed;
  --404-Font-color: #FFFEFC;
  --404-Logo: url('/src/assets/logoHrnetW.svg');
}

[data-theme='dark'] {
  --BTN-BG-Gradient: linear-gradient(180deg, #3E3D3D, #262627);
  --BG-color: #262627;
  --BG-invert-color: #FFFEFC;
  --FONT-color: #FFEEFC;
  --MENU-color: #363636;
  --TOOLBAR-color: #363636;
  --CARD-color: #363636;
  --FOOTER-color: #1F1F1F;
  --PAGINATION-left-color: #5F6368;
  --ACTIVE-FONT-color: #262627;
  --MENU-SEPARATOR-color: #262627;
  --LOGO: url('/src/assets/logoHrnetW.svg');
  --FONT-btn-color: #FFFEFC;
  --BORDER-btn-color: #262627;
  --BORDER-btn-hover-color: #1F1F1F;
  --ICONS-disabled: rgba(239, 239, 239, 0.18);
  --INFOS-card-container: #262627;
  --CARD-shadow: rgba(5, 5, 5, 0.2);
  --CARD-BG: #1F1F1F;
  --404-BG: url("/src/assets/moon2.jpg") no-repeat center center fixed;
}

[user-theme='Twitter'] {
  --COMPANY-theme-color: #47ACDF;
}

[user-theme='Amazon'] {
  --COMPANY-theme-color: #FFAE33;
}

[user-theme='Openclassrooms'] {
  --COMPANY-theme-color: #6245EC;
}

[user-theme='mongoDB'] {
  --COMPANY-theme-color: #47A248;
}

$black-1: #262627;
$black-2: #363636; // Dark mode Cards and frame
$black-3: #1F1F1F; // Dark mode lateral-menu footer
$white-1: #FFFEFC;
$grey-1: #353637; //frame
$grey-2: #A4A4A4; //secondary font
