.main-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". .";
  
  @include smallerScreenNavConfig {
	grid-template-columns: 0.08fr 1fr;
  }
  
  @include mobile {
	@include flexColumn;
  }
}
