.toolbar-emp {
  &__container {
	@include flexRowInline;
	justify-content: space-between;
	width: 100%;
	height: 6.4rem;
	padding: 0 2.4rem 0 2.4rem;
	border-radius: 0 32px 0 0;
	background-color: var(--TOOLBAR-color);
	
	@include mobile {
	  padding: 1.2rem 1.6rem;
	  border-radius: 0;
	}
	
	&--left {
	  @include flexRowInline;
	  width: fit-content;
	  gap: 2.4rem;
	  
	  @include mobile {
		width: 100%;
	  }
	  
	  > form {
		> input {
		  height: 3.2rem;
		  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
		  border: 1px solid var(--INPUT-default-border-color);
		  border-radius: 20px;
		  
		  &:focus {
			outline-color: var(--COMPANY-theme-color);
		  }
		  
		  @include mobile {
			width: 100%;
		  }
		  
		}
	  }
	}
  }
}

.btn-toggleView {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease-out;
  border: 1px solid var(--MENU-color);
  border-radius: 50%;
  background: transparent;
  
  &:hover {
	border: 1px solid var(--COMPANY-theme-color);
  }
}
