.employees__total {
  @include absoluteCentered;
  font-size: 2.4rem;
  font-weight: 200;
  text-align: center;
  @include mobile {
	font-size: 1.6rem;
  }
  
  & > span {
	font-weight: bold;
  }
}

.employees__found {
  @include absoluteCentered;
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
  
  & > span {
	font-weight: bold;
  }
}
