.toast {
  position: fixed;
  z-index: 1000000;
  top: 4.8rem;
  left: 4rem;
  justify-content: space-between;
  width: 36rem;
  padding: 1.6rem 2.4rem 1.6rem 1.6rem;
  @include flexRowInline;
  color: var(--FONT-color);
  border-radius: 8px;
  background-color: var(--BG-color);
  box-shadow: 0 0 16px 0 rgb(64, 65, 64);
  
  &.hide {
	display: none;
  }
  
  > div {
	@include flexRowInline;
	gap: 1.6rem;
	
	> div {
	  > h5 {
		font-size: 1.6rem;
	  }
	  
	  > p {
		font-size: 1.4rem;
		color: var(--SUB-FONT-color);
	  }
	}
  }
  
  
  &__success {
	border-left: 12px solid $success;
  }
  
  &__error {
	border-left: 12px solid $error;
  }
  
  &__warning {
	border-left: 12px solid $warning;
  }
}
