.lateralNav {
  &__container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	min-width: 240px;
	height: 100%;
	border-radius: 32px 0 32px 0;
	background: var(--MENU-color);
	
	@include mobile {
	  position: absolute;
	  z-index: 100;
	  top: 0;
	  left: 0;
	  width: 100%;
	  border-radius: 0;
	  &:before {
		z-index: 11;
		left: 0;
		width: 50px;
		height: 30px;
		margin-top: 16px;
		margin-bottom: 2.4rem;
		content: "";
		border-radius: 0 36px 36px 0;
		background-color: var(--COMPANY-theme-color);
	  }
	}
  }
}
