.employees-table {
  &__container {
	flex-grow: 1;
	width: 100%;
	height: 80vh;
	padding-top: 0.4rem;
  }
  
  &__wrapper {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1.6rem 1.6rem 7rem 1.6rem;
	
	> thead {
	  font-size: 1.6rem;
	  width: 100%;
	  text-align: left;
	  
	  > tr {
		> th {
		  padding-top: 1.6rem;
		  padding-bottom: 1.6rem;
		  
		  &:nth-child(1) {
			width: 4%;
			padding-left: 1.6rem;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
			border-left: 1px solid var(--COMPANY-theme-color);
			border-radius: 40px 0 0 40px;
			background-color: transparent;
		  }
		  
		  &:nth-child(2) {
			width: 10%;
			padding-left: 1.2rem;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(3) {
			width: 12%;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(4) {
			width: 12%;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(5) {
			width: 10%;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(6) {
			width: 10%;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(7) {
			width: 16%;
			padding-left: 1.2rem;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(8) {
			width: 10%;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(9) {
			width: 2%;
			padding-left: 1.2rem;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
		  }
		  
		  &:nth-child(10) {
			width: 10%;
			padding-left: 4rem;
			border-top: 1px solid var(--COMPANY-theme-color);
			border-right: 1px solid var(--COMPANY-theme-color);
			border-bottom: 1px solid var(--COMPANY-theme-color);
			border-radius: 0 40px 40px 0;
		  }
		}
	  }
	  
	}
	
	> tbody {
	  display: block;
	  font-family: Lato, sans-serif;
	  font-size: 1.6rem;
	  overflow-y: scroll;
	  width: 100%;
	  height: 100%;
	  padding-bottom: 4rem;
	  
	  > tr {
		cursor: pointer;
		transition: all 200ms ease-in-out;
		
		&:hover {
		  color: var(--COMPANY-theme-color);
		  border-radius: 20px;
		}
		
		> td {
		  padding: 1% 0.5% 1% 0.5%;
		  
		  &:nth-child(1) {
			width: 4%;
			padding-left: 1.6rem;
		  }
		  
		  &:nth-child(2) {
			width: 10%;
			padding-left: 1.2rem;
		  }
		  
		  &:nth-child(3) {
			width: 12%;
		  }
		  
		  &:nth-child(4) {
			width: 12%;
		  }
		  
		  &:nth-child(5) {
			width: 10%;
		  }
		  
		  &:nth-child(6) {
			width: 10%;
		  }
		  
		  &:nth-child(7) {
			width: 16%;
			padding-right: 1.2rem;
			padding-left: 1.2rem;
		  }
		  
		  &:nth-child(8) {
			width: 10%;
		  }
		  
		  &:nth-child(9) {
			width: 2%;
			padding-left: 1.2rem;
		  }
		  
		  &:nth-child(10) {
			width: 10%;
			padding-left: 4rem;
		  }
		}
	  }
	}
  }
  
  &__img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
  }
}
