.emp-gallery {
  &__container {
	@include flexColumn;
	position: relative;
	justify-content: space-between;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	padding: 2.4rem 2.4rem 0 2.4rem;
  }
  
  &__wrapper {
	display: grid;
	align-items: center;
	overflow: scroll;
	height: 80vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 16px 16px;
	grid-template-areas:
    ". . . ."
    ". . . .";
	@include desktop {
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-areas:
    ". . ."
    ". . .";
	}
	@include laptop {
	  grid-template-columns: 1fr 1fr;
	  grid-template-areas:
    ". ."
    ". .";
	}
  }
  
  &__result {
	font-size: 2.4rem;
	font-weight: 200;
	text-align: center;
	
	
	& > span {
	  font-weight: bold;
	}
  }
  
  &__pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	justify-content: space-between;
	//justify-content: center;
	width: 100%;
	height: 6.4rem;
	@include flexRowInline;
	padding: 2.4rem;
	background: transparent;
	backdrop-filter: blur(5px);
	
	&--limit {
	  @include flexRowInline();
	  gap: 0.8rem;
	}
  }
  
}
