.profile-header {
  position: relative;
  height: 64px;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  @include flexRowInline;
  background-color: var(--COMPANY-theme-color);
  
  > img {
	margin: 0 1.6rem 0 0;
  }
  
  > div {
	flex-grow: 1;
	
	> div {
	  @include flexRowInline;
	  justify-content: space-between;
	  
	  > h1 {
		font-size: 1.8rem;
		color: $black-1;
	  }
	  
	  > img {
		cursor: pointer;
		filter: invert(0%);
	  }
	}
	
	> p {
	  font-size: 1.4rem;
	  color: var(--SUB-CONTRAST-FONT-color);
	}
  }
}

.toggle-user-menu {
  cursor: pointer;
}

.user-menu {
  @include flexRowInline;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  justify-content: flex-start;
  width: 24rem;
  padding: 1rem 2.3rem;
  cursor: pointer;
  background-color: var(--COMPANY-theme-color);
  @include smallerScreenNavConfig {
	padding: 2rem 2.3rem;
  }
  
  &:hover {
	color: var(--COMPANY-theme-color);
  }
  
  > p {
	margin-left: 1.8rem;
	@include smallerScreenNavConfig {
	  display: none;
	}
	
  }
  
}

