.edit-employee {
  &__form {
	overflow: scroll;
	height: 80%;
	margin-top: 2.4rem;
	padding-right: 1.4rem;
	
	> p {
	  font-weight: bold;
	  margin-bottom: 1.2rem;
	}
	
	@include smallerScreenNavConfig {
	  position: absolute;
	  top: 40%;
	  width: 100%;
	  height: 44%;
	  padding-right: 6.4rem;
	  padding-left: 4.8rem;
	}
  }
  
  &__btn {
	position: absolute;
	bottom: 2.4rem;
	left: 44%;
	@include smallerScreenNavConfig {
	  bottom: 4rem;
	  left: 4.8rem;
	}
  }
}
