.login {
  &__background {
	position: relative;
	background-color: var(--MENU-color);
  }
  
  &__container {
	@include absoluteCentered;
	width: 40rem;
	padding: 4.8rem 4.8rem 8rem 4.8rem;
	border-radius: 16px;
	background-color: var(--BG-color);
	box-shadow: 0 0 20px 0 rgba(121, 121, 121, 0.29);
	@include tablet {
	  min-width: 400px;
	}
	@include mobile {
	  min-width: 100vw;
	  min-height: 100vh;
	}
	
	& > h1 {
	  font-size: 3.2rem;
	  margin-bottom: 2.4rem;
	}
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  
  > button {
	margin-right: 0 !important;
  }
}
