.toolbar-emp {
  &__container {
	@include flexRowInline;
	justify-content: space-between;
	width: 100%;
	height: 6.4rem;
	padding: 0 2.4rem 0 2.4rem;
	border-radius: 0 32px 0 0;
	background-color: var(--TOOLBAR-color);
	
	@include mobile {
	  padding: 1.2rem 1.6rem;
	  border-radius: 0;
	}
	
	&--left {
	  @include flexRowInline;
	  width: fit-content;
	  gap: 2.4rem;
	  
	  @include mobile {
		width: 100%;
	  }
	}
  }
}

